<div class="container" >
  <div class="row">
    <div class="offset-md-10 col-md-1">
      <app-edit-button (editClick)="editRecipe($event)"></app-edit-button>
    </div>
    <div class="col-md-1">
      <app-delete-button (deleteClick)="deleteRecipe($event)"></app-delete-button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <h3>{{recipe.name}}</h3>
      <label>{{recipe.description}}</label>
      <hr>
      <app-directions [directions]="recipe.directions"></app-directions>
      <hr>
      <app-ingredients [ingredients]="recipe.ingredients"></app-ingredients>
    </div>
    <div class="col-md-4" style="padding: 0 0 0 0;">
      <img [src]="recipe.image_path" />
    </div>
  </div>
</div>