<div class="row">
  <div class="col-md-12">
    <button (click)="deleteRecipe(recipe.id)" class="btn btn-danger"
      style="float: right; padding-left: 14px; padding-right: 14px;">
      <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z">
        </path>
        <path fill-rule="evenodd"
          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>

<div class="row" style="border: solid #f8f9fa">
  <div class="col-md-8">
    <h3>{{recipe.name}}</h3>
    <label>{{recipe.description}}</label>
    <hr>
    <app-directions [directions]="recipe.directions"></app-directions>
    <hr>
    <app-ingredients [ingredients]="recipe.ingredients"></app-ingredients>
  </div>
  <div class="col-md-4" style="padding: 0 0 0 0;">
    <img [src]="recipe.image_path" />
  </div>
</div>